/.idea
*.ipynb
*.pyc
/__pycache__
*.xlsx
#data/*
.DS_Store
#*.json
/cache
*.mp4
!video_outputs/delft.mp4
*.csv
/outputs
/fig
/rl/vis
/.specstory
/.cursorindexingignore
.vscode
Tables.xlsx
# wandb
/rl/wandb
/rl/checkpoints

#Sphinx build files
docs/_build
/rl/analysis/checkpoints/
/rl/analysis/wandb/
/rl/analysis/parse_summaries.py

# ignore all checkpoints and all wandb logs
**/wandb/
**/checkpoints/
/rl/outputs/
/src/outputs/logs/network.log
